.register {
  margin-top: 32px;
  .events-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  button.final {
    margin-top: 30px;
    align-self: center;
    width: fit-content;
    padding: 15px 30px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    background: #ba28ff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
    &:hover {
      border-color: white;
    }
  }
}
.cart-value {
  text-align: center;
  background-color: #ba28ff;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.5s ease;
  border: solid 4px #dc97ff;
  &.hovered {
    width: fit-content;
    border-radius: 10px;
    border-color: white;
    padding: 10px 20px;
  }
}
#qr-code-popup {
  position: fixed !important;
  top: 0px;
  left: 0px;
  padding: 0px !important;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color)!important;
  display: none;
  .qr-container {
    padding: 14% 10%;
    background: url(../../../public/images/stars.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        margin-bottom: 20px;
    }
    img {
        margin-top: 0px;
      width: min(300px, 100%);
    }
    h4 {
      text-align: center;
      font-size: 24px;
      margin-top: 10px;
    }
    .ss-submit {
      margin-top: 30px;
      align-self: center;
      width: fit-content;
      padding: 10px 20px;
      font-size: 20px;
      color: white;
      font-weight: 600;
      background: #ba28ff;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s ease;
      white-space: nowrap;
      &:hover {
        border-color: white;
      }
    }
  }
}
#qr-code-popup.opened{
    display: block;
}
