#payment {
  .qr-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: 0px;
      margin-bottom: 40px;
    }
    h4 {
      font-size: 23px;
      font-weight: 600;
      margin: 8px;
    }
    img {
      width: 260px;
      height: 260px;
    }
  }
  .ss-submit {
    margin-top: 30px;
    align-self: center;
    width: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background: #ba28ff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
    &:hover {
      border-color: white;
    }
  }
  .MuiInputBase-input.MuiOutlinedInput-input {
    color: rgb(43, 42, 43);
    background-color: rgb(255, 238, 255);
  }
  .MuiInputBase-input.MuiInput-input {
    color: rgb(255, 219, 255);
    // background-color: rgb(255, 238, 255);
  }
  .transaction-id {
    margin-top: 20px;
  }

  p{
    color: white;
    text-decoration: none;
  }
}
