#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10% !important;
  .logo {
    width: 300px;
  }
  h2 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    span {
      color: rgb(246, 151, 255);
    }
  }
  p {
    
    width: min(70%, 400px);
    font-size: 24px;
    text-align: justify;
  }
  div {
    margin-top: 20px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 2px 30px;
    gap: 16px;
    p{
        width: unset;
    }
    img{
        height: 26px;
    }
  }
}
