footer{
    padding: 0px 10% 40px;
    .footer-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 20px;
        h2, h3{
            margin: 0px;
        }
        p{
            width: min(100%, 400px);
            font-size: 17px;
            @media screen and (max-width: 797px) {
                margin-bottom: 46px;
            }
        }
        .left-container{
            width: min(100%, 400px);
        }
        .right-container{
            display: flex;
            white-space: nowrap;
            gap: 28px;
            text-align: center;
            div{
                display: flex;
                flex-direction: column;
                gap: 12px;
                h3{
                    margin-bottom: 6px;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}